In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966951 entries, 0 to 966950
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           966951 non-null  int64
 1   Date Rptd       966951 non-null  object
 2   DATE OCC        966951 non-null  object
 3   TIME OCC        966951 non-null  int64
 4   AREA            966951 non-null  int64
 5   AREA NAME       966951 non-null  object
 6   Rpt Dist No     966951 non-null  int64
 7   Part 1-2        966951 non-null  int64
 8   Crm Cd          966951 non-null  int64
 9   Crm Cd Desc     966951 non-null  object
 10  Mocodes         826575 non-null  object
 11  Vict Age        966951 non-null  int64
 12  Vict Sex        833245 non-null  object
 13  Vict Descent    833235 non-null  object
 14  Premis Cd       966937 non-null  float64
 15  Premis Desc     966375 non-null  object
 16  Weapon Used Cd  325476 non-null  float64
 17  Weapon Desc     325476 non-null  object
 18  Status          966950 non-null  object
 19  Status Desc     966951 non-null  object
 20  Crm Cd 1        966940 non-null  float64
 21  Crm Cd 2        68656 non-null   float64
 22  Crm Cd 3        2302 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        966951 non-null  object
 25  Cross Street    150218 non-null  object
 26  LAT             966951 non-null  float64
 27  LON             966951 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 206.6+ MB

In [5]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [6]:
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           140376
Vict Age               0
Vict Sex          133706
Vict Descent      133716
Premis Cd             14
Premis Desc          576
Weapon Used Cd    641475
Weapon Desc       641475
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          898295
Crm Cd 3          964649
Crm Cd 4          966887
LOCATION               0
Cross Street      816733
LAT                    0
LON                    0
dtype: int64

In [7]:
focus_columns = ['DR_NO','Date Rptd','DATE OCC','TIME OCC','AREA','AREA NAME','Part 1-2','Crm Cd','Crm Cd Desc','Vict Age','Vict Sex',
                 'Vict Descent','Premis Desc','Weapon Desc','Status Desc','LOCATION','LAT','LON']
new_df = df[focus_columns]

In [8]:
new_df.isnull().sum()

DR_NO                0
Date Rptd            0
DATE OCC             0
TIME OCC             0
AREA                 0
AREA NAME            0
Part 1-2             0
Crm Cd               0
Crm Cd Desc          0
Vict Age             0
Vict Sex        133706
Vict Descent    133716
Premis Desc        576
Weapon Desc     641475
Status Desc          0
LOCATION             0
LAT                  0
LON                  0
dtype: int64

In [9]:
new_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,O,STREET,NaN,Adult Arrest,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,O,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,Invest Cont,1000 S FLOWER ST,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,1,480,BIKE - STOLEN,19,X,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,1400 W 37TH ST,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,CLOTHING STORE,NaN,Invest Cont,14000 RIVERSIDE DR,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,H,SIDEWALK,NaN,Invest Cont,1900 TRANSIENT,34.0944,-118.3277

In [10]:
# Removing any ages that are less than 0 for victims, and replacing with NULL
new_df.loc[new_df['Vict Age'] < 0, 'Vict Age'] = np.nan

In [11]:
# Drop all rows with no LAT or LON value
new_df = new_df[(new_df['LAT'] != 0) & (new_df['LON'] != 0)]

In [16]:
# Saving this pandas table to a CSV now that it is cleaned, so we can move on to diving a little deeper into it
new_df.to_csv('Crime_Data_from_2020_to_Present_CLEANED.csv', index=False)